<h1>Login</h1>
<form action="/login" metod="POST">
    <div>
        <label for="emal">Email</label>
        <input name="email" placeholder="email" type="email" id="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" placeholder="password" type="password" id="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>